go 1.25.6

use (
	./cmd/backfill
	./cmd/consumer
	./cmd/migrate
	./cmd/processor
	./cmd/server
	./cmd/signals
	./cmd/store
	./cmd/strategist
	./internal/actors
	./internal/adapters
	./internal/core/aggregation
	./internal/core/delivery
	./internal/core/evidence
	./internal/core/insights
	./internal/core/marketdata
	./internal/core/marketmodel
	./internal/core/signal
	./internal/core/signals
	./internal/interfaces
	./internal/shared
)
